* {
    box-sizing: border-box;
}

body {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    background: #ffffff;
}

/* Logo container and Logo */

div .nav-bar > #logo {
    margin: 0;
    padding-top: 18px;
    font-size: 12px;
    letter-spacing: 3px;
}


/*Navgiation Bar and the animation */
.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-y: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
    overflow-x: hidden;
}

.overlay a {
    padding: 12px;
    text-decoration: none;
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    display: block;
    transition: 0.3s;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
}

.icon-bar {
    width: 30px;
    height: 1.5px;
    background-color: #ffffff;
    margin: 5px 0;
    cursor: pointer;
}



.nav-bar {
    position: fixed;
    background: #000000;
    top: 0;
    opacity: 0.8;
}

.overlay-content .fa {
    padding-left: 10px;
    font-size: 8px;
}

@media screen and (max-height: 450px) {
  .overlay {overflow-y: auto;}
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

/* Column Grid layout */

[class*="col-"] {
    float: left;
    padding: 10px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.col-3 {
    width: 25%;
}

.col-6 {
    width: 50%;
}

/* End of Column Grid layout */

div {
    width: 100%;
    height: auto;
}

div.hook {
    content: url(images/1.jpg);
}

div.image {
    content: url(images/5.jpg);
}

div.image2 {
    content: url(images/2.jpg);
}

div.image3 {
    content: url(images/3.jpg);
}

div.image4 {
    content: url(images/4.jpg);
}

div .instagram-container > p {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 10px;


}

#mee  {
    padding-left: 4px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-right: 5px;
    letter-spacing: 5px;
    border: 1px solid #000000;
}


.instagram-container > .row > .col-6 > a > .fa {
    font-size: 28px;
    padding-left: 46.5%;
    color: #000000;
}

.instagram-container {
    padding: 20px 0;
    background-color: rgba(246, 244, 243, 1); 
    background-color: #fafafa;

}

main {
    clear: both;
}

main .main-container > .about-container {
    margin: 0;
    padding: 35px;
    background-color: #ffffff; 

}

main .main-container .about-container > .about-me, .about-content {
    margin: 0;
}

.about-me {
    text-align: right;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 4px;
    font-size: 24px;
    text-transform: uppercase;
    padding: 10px;
}
/* Drop down menu in navigation */
.dropbtn {
    background-color: rgba(0,0,0, 0.1);
    color: #ffffff;
    padding: 12px;
    font-size: 13px;
    border: none;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.dropdown {
    position: relative;
    display: inline-block;
    margin-left: 5px;
}

.dropdown-content {
    display: none;
    overflow: auto;
    overflow-x: hidden;
    z-index: 1;
}

.dropdown-content a {
    color: white;
    padding: 12px;
    text-decoration: none;
    display: block;
    font-size: 8px;
    font-family: 'Roboto', sans-serif;
}

.show {
    display: block;
}